
<html>
<head>
    <link href="/wwwroot/css/site.css" type="text/css"  rel="stylesheet">
    <script src="/wwwroot/js/site.js" type="text/javascript"></script>
</head>
<body>
    Layout

    <br />

    @RenderBody()
</body>
</html>
