@{
    ViewData["Title"] = "Home Page";
}

<div class="navigation">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/auth/signin">Sign in</a>.</p>
    <p><a href="/accounts">Accounts</a></p>
    <p><a href="/api/auth/list">Api Get</a></p>
    <p><a href="/wwwroot/css/site.css">Site.css</a></p>
    <p><a href="/wwwroot/js/site.js">Site.js</a></p>
</div>
